* {
    box-sizing: border-box;
}

body {
    background: URL("https://images.unsplash.com/photo-1608178398319-48f814d0750c?q=80&w=2379&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    font-family: orbitron;
    font-size: x-large;
}

#container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-size: 70px;
}

.btn-letter {
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 30px;
}

#message {
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-letter:hover {
    background-color: blueviolet;
}

input {
    border: 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
}

#play-again, #guess-btn {
    border: 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
}

#spaceman-image {
    width: 100px;
    margin-top: 20px;
}